/* Import font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #7f8cff;
  --secondary-color: #172b4d;
}

body {
  background-color: #e5e5e5;
  font-family: "poppins", sans-serif;
}

.background {
  background-image: url(/images/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  background-position: 0 80px;
  width: 100%;
  height: 718px;
  position: absolute;
  border-radius: 0 0 0 100px;
  z-index: -11;
}

.contenedor {
  margin: 0 auto;
  padding: 15px 0;
  max-width: 85%;
}

#header .contenedor {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  padding: 15px 0;
  max-width: 90%;
}

#nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo a {
  color: #6070ff;
  font-size: 24px;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.nav-content .nav-items {
  justify-content: space-between;
  display: none;
  width: 300px;
}

.nav-items .nav-item {
  list-style: none;
}

.nav-item .link {
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
}

.menu {
  display: block;
}

/* ID SECTION */
#main {
  align-items: center;
  display: flex;
  height: 600px;
}

.main-content {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  height: 430px;
}

.main-content .title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 43px;
  max-width: 319px;
}

.main-content .main-description {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-width: 326px;
  color: #344563;
}

.main-content .connect {
  color: #7f8cff;
}

.social-network {
  justify-content: space-between;
  display: flex;
  width: 177px;
}

/* END OF ID SECTION */
@media only screen and (min-width: 600px) {
  .menu {
    display: none;
    width: 30px;
  }

  .nav-content .items {
    display: flex;
  }
}

@media only screen and (min-width: 450px) {
  .back {
    background-size: cover;
  }
}

/* WORK SECTION */
#work {
  margin-top: 150px;
}

.work-content {
  display: grid;
  gap: 60px;
}

.card {
  background-color: #fff;
  border: 2px solid #dfe1e5;
  border-radius: 16px;
  max-width: 327px;
  padding: 15px;
}

.card-picture {
  border-radius: 8px;
  width: 100%;
}

.card-content {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.card-content .title {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  max-width: 205px;
  color: #172b4d;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 255px;
}

.info span:first-child {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.info span:nth-child(3) {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.info span:nth-child(5) {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.punto {
  background-color: #c1c7d0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.description {
  font-weight: 400;
  color: #344563;
}

.pr-languages {
  display: flex;
  gap: 15px;
}

.pr-languages .pr-lang span {
  background-color: #ebebff;
  font-family: 'poppins', sans-serif;
  color: #6070ff;
  font-size: 12px;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
}

.project-button .btn {
  background-color: transparent;
  border-radius: 8px;
  font-weight: 500;
  padding: 12px;
  font-size: 17px;
  color: #6070ff;
  border: 1px solid #6070ff;
}

/* END WORK SECTION */

/* ABOUT ME SECTION */
#about-me {
  display: flex;
  background-color: #ffff;
  align-items: center;
  margin-top: 150px;
  border-radius: 0 80px 0 0;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  height: 430px;
}

.about-me-content .title {
  color: #172b4d;
  font-size: 43px;
  font-weight: 700;
  max-width: 200px;
}

.about-me-content .description {
  font-style: normal;
  font-size: 16px;
  max-width: 326px;
  font-weight: 500;
  line-height: 24px;
  color: #344563;
}

.about-me-content .connect {
  color: #7f8cff;
}

.about-me-content .project-button .btn {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-size: 17px;
  padding: 12px;
  margin-top: 10px;
  font-weight: 500;
  color: #6070ff;
}

/* END OF ABOUT ME SECTION */

/* PROGRAMMING LANGUAGES */
.languages {
  margin-top: 50px;
  margin-top: 20px;
}

details {
  position: relative;
  border-radius: 8px;
  background: #fff;
  font-size: 1rem;
  border-bottom: 1px solid #e2e8f0;
  width: 100%;
}

summary {
  user-select: none;
  list-style: none;
  padding: 1em;
}

summary::-webkit-details-marker {
  display: none;
}

.summary-chevron-up svg {
  opacity: 0.5;
}

.summary-chevron-up,
.summary-chevron-down {
  display: block;
  pointer-events: none;
  position: absolute;
  background: #fff;
  top: 0.75em;
  right: 1em;
}

summary:focus {
  outline: none;
}

summary:hover .summary-chevron-up svg {
  opacity: 1;
}

.langs {
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}

.langg {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f7f7f9;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
}

.langgg {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
}

/* END OF PROGRAMMING LANGUAGES */
